<div class="btn-group-options">
    <button
            class="btn btn-primary btn-lg ajaxProjectsLoad"
            data-target="#ajaxProjects"
            data-url="/requests-details">Сводная таблица</button>
    <button
            class="btn btn-primary btn-lg ajaxProjectsLoad"
            data-target="#ajaxProjects"
            data-url="/requests/requestsArhiveDetails">Архив заявок</button>
</div>

<div id="ajaxProjects"></div>

<script>
    $(document).ready(function () {
        projectsBtns();
    });
</script>