<div class="bl-scroll">
    <div class="container_full-size">
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <button id="myBtn" class="btn btn-primary btn-lg">Получить разрешение</button>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h5>Объекты</h5>
                        <select class="form-select mb-3" name="obj">
                            <option selected>Open this select menu</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>

                        <h5>Стадия</h5>
                        <select class="form-select mb-3" name="stage">
                            <option selected>Open this select menu</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>

                        <h5>Раздел</h5>
                        <select class="form-select mb-3" name="chapter">
                            <option selected>Open this select menu</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>

                        <h5>Номер изм.</h5>
                        <input type="text" class="form-control mb-3" placeholder="Введите номер" name="numChapter">
                    </div>
                </div>

                <table class="table table-hover my-0">
                    <thead>
                    <tr>
                        <th class="td-position_num position-colum-item">№ разрешения</th>
                        <th class="position-colum-item">Дата</th>
                        <th class="d-xl-table-cell position-text-line ">Объекты</th>
                        <th class="position-colum-item position-text-line">Стадия</th>
                        <th class="position-colum-item position-text-line">Раздел</th>
                        <th class="position-colum-item position-text-line">Изм.</th>
                        <th class="position-colum-item position-text-line">Фамилия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="column-pp">281/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Ставрополь КДКБ</td>
                        <td class="position-text-line">Р</td>
                        <td class="position-text-line">ВК</td>
                        <td class="position-text-line">7</td>
                        <td class="position-text-line">Маркин</td>
                    </tr>
                    <tr>
                        <td class="column-pp">282/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Оренбург детская</td>
                        <td class="position-text-line">Р</td>
                        <td class="position-text-line">АР</td>
                        <td class="position-text-line">11</td>
                        <td class="position-text-line">Кузнецова</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    <tr>
                        <td class="column-pp">283/23</td>
                        <td class="data-width">27.02.2023</td>
                        <td class="position-text-line">Кисловодск ФМБА</td>
                        <td class="position-text-line">П</td>
                        <td class="position-text-line">КР</td>
                        <td class="position-text-line">4</td>
                        <td class="position-text-line">Палаев</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var modal = document.getElementById('myModal');
        // Переменная кнопки, открывающей модальное окно
        var btn = document.getElementById("myBtn");
        // Получение элемента <span>, который закрывает модальное окно
        var span = document.getElementsByClassName("close")[0];
        // Когда пользователь нажимает кнопку, открывается pop-up форма
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // Когда пользователь нажимает кнопку (x) <span>, закрывается окно формы
        span.onclick = function() {
            modal.style.display = "none";
        }
        // Когда пользователь нажимает в любое место вне формы, закрыть окно формы
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>