<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-body h-100">
                <div id="dataLoad">
                    <h3>Контакты ИТ-поддержки</h3>
                    <br>
                    <hr>
                    <p>Телефон: <b>8-499-128-97-14</b>, <b>8-499-120-25-81</b></p>
                    <p>Внутренний номер: <b>127</b></p>
                    <p>Связь через <a href="#">ТГ-Бота</a></p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>