<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">КорпПортал</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item">
                <a class="sidebar-link ajaxMainLoad" href="/requests" data-target="#ajax-content-load">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Заявки</span>
                </a>
            </li>

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="{{to_gall_ref}}" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="image"></i> <span class="align-middle">Галерея Объектов</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/services" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Сервисы</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/instructions" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="search"></i> <span class="align-middle">Гипро-ВиКи</span>-->
<!--                </a>-->
<!--            </li>-->

            <li class="sidebar-header">
                Администрирование
            </li>

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/office" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Структура Офиса</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/user_management" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">Пользователи</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/group_management" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Группы пользователей</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link ajaxMainLoad" href="/department_management" data-target="#ajax-content-load">-->
<!--                    <i class="align-middle" data-feather="tablet"></i> <span class="align-middle">Отделы</span>-->
<!--                </a>-->
<!--            </li>-->

        </ul>
    </div>
</nav>