<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="bl-scroll">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">Каталог</h2>
                </div>

                {% for itemCat in catalog %}
                <hr class="my-0"/>
                <div class="card-body">
                    <a href="#">
                        <span data-target="#instructions_content_load" data-id="{{itemCat.id}}"
                              class="instructionsContentLoad">{{itemCat.name}}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-md-8 col-xl-9">

        <div id="instructions_content_load">
            <div class="card">
                <div class="card-body h-100">
                    <div class="bl-scroll">
                        <div class="sn-accordion-container">
                            <p><---- Выберите пункт меню</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        contentLoad();
    });
</script>