<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="bl-scroll">
            <div class="card">
                {% for mailEntity in mailEntities %}
                <hr class="my-0"/>
                <div class="card-body">
                    <a href="#">
                        <span data-target="#mail_content_load"
                              data-id="{{mailEntity.id}}"
                              data-url="/services/mail/{{mailEntity.url}}"
                              class="mailContentLoad">{{mailEntity.name}}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xl-9">

        <div id="mail_content_load">
            <p><---- Выберите пункт меню</p>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        serviceContentLoad(".mailContentLoad");
    });
</script>