<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="bl-scroll">
            <div class="card">
                {% for permsEntity in permsEntities %}
                <hr class="my-0"/>
                <div class="card-body">
                    <a href="#">
                        <span data-target="#perms_content_load"
                              data-id="{{permsEntity.id}}"
                              data-url="/services/perms/{{permsEntity.url}}"
                              class="permsContentLoad">{{permsEntity.name}}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xl-9">

        <div id="perms_content_load">
            <p><---- Выберите пункт меню</p>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        serviceContentLoad(".permsContentLoad");
    });
</script>